.reference_hero {
    width: 100%;
    height: 70vh;
    position: relative;
    /* background-color: rgba(0, 90, 255, 0.444); */
}

.reference_hero::before {
    content: '';
    position: absolute;
    background: url('../../public/images/References/Reference_Banner_BG.png') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.reference_hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 5%;
    color: #fff;
}

.reference_hero h1 {
    font-size: 60px;
    font-weight: 400;
    margin: 1rem 0;
}

.container p {
    width: 800px;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.6;
}

.highlight {
    /* width: 1300px; */
    margin: 2rem auto 3rem;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.highlight h1 {
    font-size: 50px;
    width: 1100px;
    margin: 2rem 0;
    color: #0097FF;
    font-weight: 600;
}

.highlight h3 {
    width: 1000px; 
    font-size: 23px;
    color: #555;
    word-spacing: 2px;
    font-weight: 400;
    line-height: 1.2;
}

.banks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.banks_categories {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    list-style-type: none;
    font-size: 23px;
    border-bottom: 2px solid #0097FF;

}


.banks_categories li{
    margin-right: 40px;
    padding: 5px 15px;
    color: #0097FF;
}

.banks_categories .active {
    background: #0097FF;
    color: #fff;
}

.banks_categories li:hover {
    background: #0097FF;
    color: #fff;
}

.banks .logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    gap: 20px;
}

.logo .logo_card {
    height: 300px;
    width: 300px;
}

.logo_card img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.facts {
    background: url("../../public/images/References/Reference_Banner_BG.png")
    no-repeat center center/cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .facts h1 {
    margin: 2rem;
    font-size: 50px;
    text-align: center;
  }
  
  .facts h3 {
  width: 1100px;
   text-align: left;
   line-height: 1.3;
   font-size: 25px;
   font-weight: 300;
  }
  
  .counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent linear-gradient(319deg, #3BCACA 0%, #0097FF 100%) 0% 0%;
    margin-top: 2rem;
    width: 100%;
  }
  
  .count {
    text-align: center;
    padding: 1rem;
  }
  
  .count h2 {
    font-size: 40px;
  }
  
  .count p {
    font-size: 20px;
    width: 150px;
  }



.link {
    color: #fffF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem; 
    margin-bottom: 2rem;
}

.link h2 {
    font-weight: 500;
    font-size: 23px;
}

.arrow_right {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    margin: 0 1rem;
}


@media (max-width: 1024px) {
    .reference_hero h1 {
        font-size: 55px;
    }

    .highlight h1 {
        font-size: 45px;
        width: 100%;
    }

    .highlight h3 {
        width: 100%; 
        font-size: 20px;
        color: #555;
        word-spacing: 1px;
        padding: .5rem;
    }

    .banks_categories {
        margin: .5rem;
        font-size: 20px;
    }

    .banks_categories li{
        margin-right: 30px;
        padding: 5px 10px;
    }

    .logo .logo_card {
        height: 230px;
        width: 230px;
    }

    .facts h1 {
        margin: 1.5rem;
        font-size: 45px;
    }

    .facts h3 {
        width: 100%;
        text-align: center;
        line-height: 1.3;
        font-size: 22px;
    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: transparent linear-gradient(319deg, #3BCACA 0%, #0097FF 100%) 0% 0%;
        margin: 2rem 0;
      }

      .count {
        text-align: center;
        margin: .1rem;
  }
        

}
@media (max-width: 940px) {
    .reference_hero h1 {
        font-size: 55px;
    }

    .reference_hero p {
        width: 750px;
    }

    .highlight h1 {
        font-size: 40px;
        width: 100%;
    }

    .highlight h3 {
        width: 100%; 
        font-size: 20px;
        color: #555;
        word-spacing: 1px;
        padding: .5rem;
    }

    .banks_categories {
        margin: .5rem;
        font-size: 20px;
    }

    .logo .logo_card {
        height: 250px;
        width: 250px;
    }


    .facts h1 {
        margin: 1.5rem;
        font-size: 45px;
    }

    .facts h3 {
        width: 100%;
        text-align: center;
        line-height: 1.3;
        font-size: 20px;
        width: 800px;
    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: transparent linear-gradient(319deg, #3BCACA 0%, #0097FF 100%) 0% 0%;
        margin: 2rem 0;
      }

        

}


@media (max-width: 600px) {

    .reference_hero h1 {
        font-size: 40px;
    }

    .container p {
        width: 350px;
        font-size: 17px;
    }

    .highlight h1 {
        font-size: 30px;
        width: 95%;
        text-align: center;
    }

    .highlight h3 {
        width: 350px; 
        font-size: 17px;
        text-align: center;
    }

    .banks_categories {
        display: none;
    }

    .banks .logo {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .logo .logo_card {
        height: 280px;
        width: 280px;
    }

    .facts h1 {
        margin: 1.5rem;
        font-size: 35px;
        margin: 1rem;
    }


    .facts h3 {
        width: 100%;
        text-align: center;
        line-height: 1.3;
        font-size: 16px;
        width: 350px;
        margin-left: 15px;
    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: transparent linear-gradient(319deg, #3BCACA 0%, #0097FF 100%) 0% 0%;
        margin: 2rem 0;
      }

    .count {
        text-align: center;
        margin: .1rem;
    }
      
    .count h2 {
    font-size: 25px;
    }
      
    .count p {
        font-size: 15px;
        width: 150px;
    }

    .link h2 {
        font-size: 16px;
    }
}





